$navbar-padding-y: 2rem;
$navbar-padding-x: 2rem;

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_container {
  padding: 3rem;
}

.hero {
  background-size: cover;
  min-height: 450px;
  text-align: center;
}

#hero_title {
  font-family: var(--custom-font);
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.hero_img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  margin: 2rem;
}

.hero_subtitle {
  font-family: var(--custom-font);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  #img_bottom {
    max-width: 600px;
  }
}
